@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This page is what you'll see right before deciding to delete a record.*@
@model Movie
<h2>Confirm Delete</h2>
<h3>@Model.Title, @Model.Year</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="MovieId" />
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="WaitList">Cancel</a>
</form>