@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*This is the get to know you page.*@
<div class="text-center">
    <h1 class="display-4">Get to know Joel</h1>
</div>

<div>
    @*Includes various links, with the picture being linked to the website as well.*@
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <p>A comedy troupe specializing in improv performances. They feature unscripted shows based on audience suggestions, delivering fast-paced and hilarious entertainment. This is where the performer regularly showcases their comedic talent.</p>
    <a href="https://baconsale.com/">Baconsale</a>
    <p>A podcast that blends pop culture, movies, and humor. The hosts discuss a wide range of topics, including film reviews, nostalgic favorites, and quirky debates, all with a comedic flair.</p>
	<a href="https://baconsale.com/"><img src="~/img/group.jpg" /></a>
</div>
