@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*This is the get to know you page.*@
<div class="text-center">
    <h1 class="display-4">Get to know Joel</h1>
</div>

<div>
    @*Includes various links, with the picture being linked to the website as well.*@
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <p>A comedy troupe specializing in improv performances. They feature unscripted shows based on audience suggestions, delivering fast-paced and hilarious entertainment. This is where the performer regularly showcases their comedic talent.</p>
    <a href="https://baconsale.com/">Baconsale</a>
    <p>A podcast that blends pop culture, movies, and humor. The hosts discuss a wide range of topics, including film reviews, nostalgic favorites, and quirky debates, all with a comedic flair.</p>
    <a href="https://baconsale.com/"><img src="https://public.boxcloud.com/api/2.0/internal_files/1439606248084/versions/1578785044521/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!-fPLzW1V63ZS_gL1lZvnsuANHf_u5WN03zxHkYoC2cVU8V-hiCzafs5jwRHucXhzXUHBPC9KyJ7wGe6F9r3T6cVMpmiCR_EP0qOIdq2JK3-u2XkVuJV3srP3AJaRqzHvhcILSBLlrxZpA0FR57Cwr1YM_RnUDXbu0s1A-xxbqCmjDr22E4sH6Y609kJYnFKtojoEch5vUNyGiTy00XAQ2f-Qly6F7-HgyQCR4MH0X3TYOSOAej8McfD6v_sIBt1L912hMInxlJqfDnWSKlHgmLksRQhxPtVbfu3gcUcJFrR2pxvqIoHDo2xfhDnOAVyNUJJofXEbekKwDVIkgbLUjXyiZfHc2lZCbO2Emhd0uCPzJDwt28k-NLv5zfqpAXzUov-QeHj6IND749ai5kCytmeVahc6GhayTvmKtRt2aaI6hfWwangaWdTBsBPSVWu_k2tespUkbc_-MPsMNAMYe8wAm5wwSuNEJ9FvejKcliAd4JK9pzTwHPyalMtf02jyzNHlRKKHCAbFua9PKZl2GgcGM1v9p3qKoh1agZAgQJXzFrVlXn4EB9-A9cFm9uW5CM3kG8Gr7ByNS9VJ54-Rieka-aQR7ZtsOTc-7pTS&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2Fie6ibeddqm0f6oudp7bc5dyt87zxi2u4&box_client_name=box-content-preview&box_client_version=3.0.0" height="300"/></a>
</div>
