@{
    ViewData["Title"] = "Home Page";
}

@*This is the main page, with a picture of Joel on the front of the page.*@
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="https://public.boxcloud.com/api/2.0/internal_files/908099177363/versions/978098006963/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!3HmzDTJ6kwn6kvP_jSnhMAghUXT01M7sqhW2rHwjj2k-gf0NYtLPbkFDx6GMc0AxqHtyfHerRnCSSK2KrxIYsAkWLEYOSDwBOCz4zcw9pnXTSCmmSA4GPjp6vvXB8h5rYNJFqF48m1trM4yCkrmLUD8COIiX4Cw_sVhCGtSfM_qciJfdZ_5lRhnCklqNeLqkWNN66moTqrMxj6fOHRh3lQ4uY-UKvo-ak3LBK0jRZWa9alHpxVq9p9-oaJt8mJtGTg1ncn-b8GrlGieuunpEqDtGCOkMVj67DpOQPVI64eOBjmbKuVwD2ggu8DGK8N78VbzGkqMRCX8DUmtso4tz9fNEHveeZXF3KFqJLO7kEgTqC5pMefEUY_JlPmAvBjPOgLyGjtHFiLXXcIAibnWOH8jLPKpa3jNmP3d4qOhI07XR1D0qWMGojHu2IuDcPqbrXawc2kc0yXSGsfbXpYv71xQyrUqkLC15EF0r8befOpIs-r1Byx4vJVdL-jsYzDRpgYmw-RtKbmatKCpxOxkBojzAgI4MjBGzW-a9_NIxqI7RPhqTLd8Pte1jo8RSQUg_0MDl2QC7mdqE-Hn_1H6rBXV4IQ2au2OcDUM_ow..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2F8sjz2qei13h4nnlw0e6gc10ot35octkf&box_client_name=box-content-preview&box_client_version=3.0.0" />
</div>
