@{
    ViewData["Title"] = "Home Page";
}

@*This is the main page, with a picture of Joel on the front of the page.*@
<div class="text-center">
	<h1 class="display-4">The Joel Hilton Film Collection</h1>
	<img src="~/img/joel.jpg" />
</div>
