@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie

<!--
	This is the form that we will use to submit a movie.
-->
<div class="text-center">
    <h1 class="display-4">Movie Form</h1>
</div>

@*ASP Action is the MovieForm so that it connects with the rest of the programming*@
@*Include ASP For stuff throughout to connect to the Form.cs program*@
<form asp-action="MovieForm" method="post">

	<input type="hidden" asp-for="MovieId" />

    <label asp-for="CategoryId">Category:</label>
	<select asp-for="CategoryId">
		<option value="">Select a Category</option>
		@foreach (Category category in ViewBag.Categories)
		{
			<option value="@category.CategoryId">@category.CategoryName</option>
		})
	</select>
	<br /><br />
	<label asp-for="Title">Movie Title</label>
	<input asp-for="Title"/>
	<br /><br />
	<label asp-for="Year">Movie Year</label>
	<input asp-for="Year"/>
	<br /><br />
	<label asp-for="Director">Movie Director</label>
	<input asp-for="Director"/>
	<br /><br />
	<label asp-for="Rating">Movie Rating</label>
	@*Create a dropdown menu with the ratings*@
	<select asp-for="Rating">
		<option value="" selected disabled>Select a rating</option>
		<option value="TV-Y7">TV-Y7</option>
		<option value="TV-G">TV-G</option>
		<option value="G">G</option>
		<option value="TV-PG">TV-PG</option>
		<option value="PG">PG</option>
		<option value="PG-13">PG-13</option>
		<option value="TV-14">TV-14</option>
		<option value="R">R</option>
		<option value="NR">NR</option>
		<option value="UR">UR</option>
	</select>
	<br /><br />
	<label asp-for="Edited">Edited</label>
	@*Create a radio button for edited with the options Yes and No*@
	<select asp-for="Edited">
		<option value="" selected disabled>Select</option>
		<option value="1">Yes</option>
		<option value="0">No</option>
	</select>
	<br /><br />
	<label asp-for="LentTo">Lent To</label>
	<input asp-for="LentTo"/>
	<br /><br />
	<select asp-for="CopiedToPlex">
		<option value="" selected disabled>Select</option>
		<option value="1">Yes</option>
		<option value="0">No</option>
	</select>
	<br /><br />
	<label asp-for="Notes">Notes</label>
	<textarea asp-for="Notes"></textarea>
	<br /><br />
	<input type="submit" value="Submit" />
</form>
